# Homework 02 solution and notes

In [4]:
# note .ipynb files are not optimal for this assignment
# will only return correct result when each cell is ran once
import csv
from pathlib import Path

In [2]:
load_path = Path('Resources/budget_data.csv')
output_path = Path('analysis/budget_analysis.txt') # create the file before

In [3]:
# initialize financial params
total_months = 0 # int
month_of_change = [] # list
net_change_list = [] 
greatest_increase = ['', 0] 
greatest_decrease = ['', 9999999999999999]
total_net = 0

In [4]:
# read in csv
"""
the with keyword is starndard when dealing with file objects. Advantage: file properly 
closed after its suite finishes. Equivalent try-finally blocks (see below).

try:
    file = open(load_path,'r')
    try:
        line = file.readline()
    finally:
        file.close()
except IOError:
    <whatever>
"""

with open(load_path) as financial_data:
    reader = csv.reader(financial_data)
    header = next(reader) # skip the label row
    # skipping first row, we want to avoid appending this to our net change calcs
    # but we still need to increment the total_months
    # we also have to add this to the total_net (i.e. sum of total profits (or losses) for the 86 periods)
    # we also have to initalize a prev_net variable so we can accuratley calculate the net_change...
    first_row = next(reader) 
    total_months += 1
    #total_months = total_months + 1
    total_net += int(first_row[1])
    prev_net = int(first_row[1]) 
    
    """
    Loops through each row in the financial_data (i.e. budget_data.csv)
    for each row in the csv our program calculates and stores a few different params
    then uses conditional logic to calculate the months that experiences the greatest...
    increase and decrease in profits
    """
    
    for row in reader:
        total_months += 1
        total_net += int(row[1]) # adding each instance to the tracked param
        
        # the net change is accessing the stored prev_net (below)
        net_change = int(row[1]) - prev_net
        # now we are storing row instance as previous net change
        prev_net = int(row[1]) 
        net_change_list += [net_change]
        month_of_change += [row[0]] #[0] repss. the 1st column. Also remember we are trying to access and store inside of a list
        
        # calc the greatest increase
        if net_change > greatest_increase[1]:
            greatest_increase[0] = row[0] # assigning a the date value
            greatest_increase[1] = net_change # assigning the smaller number to net_change variable
        
        # calc the greatest decrease
        if net_change < greatest_decrease[1]:
            greatest_decrease[0] = row[0]
            greatest_decrease[1] = net_change

In [5]:
# calc of avg. monthly change for the 86 periods
net_monthly_avg = sum(net_change_list)/len(net_change_list)
print(net_monthly_avg)

-2315.1176470588234

In [6]:
# write all of our information to a new text file
# create file first
with open(output_path, 'w') as txt_file:
    txt_file.write(f'Financial Analysis\n') # \n == line break
    txt_file.write(f'---------------------------\n') 
    txt_file.write(f'Total Months: {total_months}\n')
    txt_file.write(f'The Month of Change: {month_of_change}\n')
    txt_file.write(f'The Net Change List: {net_change_list}\n')
    txt_file.write(f'The Greatest Increase: {greatest_increase}\n')
    txt_file.write(f'The Greatest Decrease: {greatest_decrease}\n')
    txt_file.write(f'The Total Profit: {total_net}\n')
    txt_file.write(f'The Average Monthly Change: {net_monthly_avg}\n')

## Taking a closer look

In [7]:
print(header)
print(first_row)
print(first_row[1])
print(total_months)
print(total_net)
print(prev_net)
print([net_change])
print(month_of_change)
print([row[0]])

['Date', 'Profit/Losses']
['Jan-2010', '867884']
867884
86
38382578
671099
[532869]
['Feb-2010', 'Mar-2010', 'Apr-2010', 'May-2010', 'Jun-2010', 'Jul-2010', 'Aug-2010', 'Sep-2010', 'Oct-2010', 'Nov-2010', 'Dec-2010', 'Jan-2011', 'Feb-2011', 'Mar-2011', 'Apr-2011', 'May-2011', 'Jun-2011', 'Jul-2011', 'Aug-2011', 'Sep-2011', 'Oct-2011', 'Nov-2011', 'Dec-2011', 'Jan-2012', 'Feb-2012', 'Mar-2012', 'Apr-2012', 'May-2012', 'Jun-2012', 'Jul-2012', 'Aug-2012', 'Sep-2012', 'Oct-2012', 'Nov-2012', 'Dec-2012', 'Jan-2013', 'Feb-2013', 'Mar-2013', 'Apr-2013', 'May-2013', 'Jun-2013', 'Jul-2013', 'Aug-2013', 'Sep-2013', 'Oct-2013', 'Nov-2013', 'Dec-2013', 'Jan-2014', 'Feb-2014', 'Mar-2014', 'Apr-2014', 'May-2014', 'Jun-2014', 'Jul-2014', 'Aug-2014', 'Sep-2014', 'Oct-2014', 'Nov-2014', 'Dec-2014', 'Jan-2015', 'Feb-2015', 'Mar-2015', 'Apr-2015', 'May-2015', 'Jun-2015', 'Jul-2015', 'Aug-2015', 'Sep-2015', 'Oct-2015', 'Nov-2015', 'Dec-2015', 'Jan-2016', 'Feb-2016', 'Mar-2016', 'Apr-2016', 'May-2016', 'Jun-2016', 'Jul-2016', 'Aug-2016', 'Sep-2016', 'Oct-2016', 'Nov-2016', 'Dec-2016', 'Jan-2017', 'Feb-2017']
['Feb-2017']

In [7]:
print(net_change_list)

[116771, -662642, -391430, 379920, 212354, 510239, -428211, -821271, 693918, 416278, -974163, 860159, -1115009, 1033048, 95318, -308093, 99052, -521393, 605450, 231727, -65187, -702716, 177975, -1065544, 1926159, -917805, 898730, -334262, -246499, -64055, -1529236, 1497596, 304914, -635801, 398319, -183161, -37864, -253689, 403655, 94168, 306877, -83000, 210462, -2196167, 1465222, -956983, 1838447, -468003, -64602, 206242, -242155, -449079, 315198, 241099, 111540, 365942, -219310, -368665, 409837, 151210, -110244, -341938, -1212159, 683246, -70825, 335594, 417334, -272194, -236462, 657432, -211262, -128237, -1750387, 925441, 932089, -311434, 267252, -1876758, 1733696, 198551, -665765, 693229, -734926, 77242, 532869]

In [12]:
# we have to use the list
net_change == sum(net_change_list)

False

In [8]:
print(type(net_change))
print(net_change)
print('---------')
print(type(net_change_list))
print(len(net_change_list))

<class 'int'>
532869
---------
<class 'list'>
85

# Concepts needed to understand homework 02

# Lists

In [2]:
myList = []
myList.append(1) # goes to index 0...and so on
myList.append(1)
myList.append(3)
myList.append(4)
myList.append(5)
myList.insert(0, 'sammy is awesome')
print(myList)

['sammy is awesome', 1, 1, 3, 4, 5]

In [3]:
larger_than_two = []
smaller_than_two = []
for i in myList:                                   #myList is not defined.
    if i > 2:
        larger_than_two.append(i)
    elif i < 2:
        smaller_than_two.append(i)
    #else:
    #    smaller_than_two.append(i)
print(myList)
print(larger_than_two)
print(smaller_than_two)

TypeError: '>' not supported between instances of 'str' and 'int'

In [17]:
names = ['sammy','siege','tim','tom','lee']
numbers = [1,2,3,4,5]
def select_second(i):
    return i[1]
print(select_second(names))
print(select_second(numbers))
# variables declared inside of

siege
2

# Conditionals

In [25]:
choice = input()
if choice == 'a':
    print('you chose a.')
elif choice == 'b':
    print('you chose b.')
elif choice == 'c':
    print('you chose c.')
else:
    print('invalid choice.')

 s

invalid choice.

In [26]:
food = input(f"what is your favorite food?")

if food == 'spam':
    print('yum, i love spam')
elif food == 'Spam':
    print('yum, i love spam')
else:
    print('No, i only want spam')

what is your favorite food? spam

yum, i love spam

# Loops

In [22]:
for friend in ['margot', 'kate','sammy','allen','matt']:
    invitation = f'Hi, {friend} please come to office hours'
    print(invitation)

Hi, margot please come to office hours
Hi, kate please come to office hours
Hi, sammy please come to office hours
Hi, allen please come to office hours
Hi, matt please come to office hours

In [1]:
for i in range(10): # index range
    print(f'i is now {i}')

i is now 0
i is now 1
i is now 2
i is now 3
i is now 4
i is now 5
i is now 6
i is now 7
i is now 8
i is now 9

In [2]:
import random
number = random.randrange(1,100)
guess_count = 0
guess = int(input('guess a number between 1 and 100: '))

while guess != number:
    guess_count += 1
    if guess > number:
        print('too high, try again')
    elif guess < number:
        print('too low, try again')
    guess = int(input('guess again: '))

print(f'you guessed it! the correct number was {number}. it took you {guess_count} attempts.')

guess a number between 1 and 100:  40

too high, try again

guess again:  20

too low, try again

guess again:  30

you guessed it! the correct number was 30. it took you 2 attempts.

# Variable reassignment

This is simple, but important to keep in mind

In [8]:
a = 1
a = 2
print(a)

2

# Reading in csv's

The csv module has the following functions:
* csv.reader(csvfile, dialect='excel')
This returns a reader object which will iterate over lines in the given csv file. Returns strings.
~~~ python
import csv
with open('budget_data.csv', newline = '') as csvFile:
    reader = csv.reader(csvFile)
    for row in reader:
        print(row[1])
~~~
* csv.writer(csvfile)
Returns a writer object that is responsible for converting the users data into delimited strings on the given file-like object (i.e. in HMWRK 2 we are writing to a .txt file).

~~~ python
import csv
with open("txt_analysis.txt", 'w') as txtFile:
    txtFile.write(f"this is Sammy!\n")
    txtFile.write(f" I like to hike and drink matcha lattes\n")
~~~

# Other use cases

## Here we will be using the same principles learned in homework 2. The differences are:
* we will be doing more calculations
* we will download data from Yahoo Finance API
* import a few different software packages to get the job done
* exporting our dataframe to a csv

In [1]:
import yfinance as yf
import pandas as pd
import statistics
import csv
from pathlib import Path
import math

In [2]:
data = yf.download('SPY', start = '2018-01-01', end = '2020-01-01')

[*********************100%***********************]  1 of 1 completed

In [3]:
df = pd.DataFrame(data)
df.describe()

,Open,High,Low,Close,Adj Close,Volume
count,503.000000,503.000000,503.000000,503.000000,503.000000,5.030000e+02
mean,282.710696,284.051749,281.141689,282.684174,271.896558,8.357652e+07
std,15.257929,14.829830,15.713496,15.303106,16.987307,4.191982e+07
min,235.970001,240.839996,233.759995,234.339996,225.768829,2.027000e+07
25%,272.149994,273.490005,270.420013,272.104996,258.965271,5.620910e+07
50%,281.510010,282.579987,280.160004,281.329987,269.272980,7.227020e+07
75%,291.699997,293.150009,290.685013,291.899994,282.863861,9.872710e+07
max,323.739990,323.799988,322.279999,322.940002,317.019714,3.550268e+08

In [4]:
df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-01-02,267.839996,268.809998,267.399994,268.769989,254.112717,86655700
2018-01-03,268.959991,270.640015,268.959991,270.470001,255.719986,90070400
2018-01-04,271.200012,272.160004,270.540009,271.609985,256.797821,80636400
2018-01-05,272.510010,273.559998,271.950012,273.420013,258.509186,83524000
2018-01-08,273.309998,274.100006,272.980011,273.920013,258.981873,57319200
...,...,...,...,...,...,...
2019-12-24,321.470001,321.519989,320.899994,321.230011,315.341095,20270000
2019-12-26,321.649994,322.950012,321.640015,322.940002,317.019714,30911200
2019-12-27,323.739990,323.799988,322.279999,322.859985,316.941162,42528800
2019-12-30,322.950012,323.100006,320.549988,321.079987,315.193817,49729100
2019-12-31,320.529999,322.130005,320.149994,321.859985,315.959503,57077300

In [2]:
# export as csv
csv = df.to_csv('SPY.csv')

NameError: name 'df' is not defined

In [5]:
# load csv in
csvPath = Path('Resources/SPY.csv')

In [6]:
# calculate the standard deviation (std) for the period (we will need mean, variance, periods)
# calculate annualized std (we will need daily returns)
# (note we need to use sampling stats)
mean = 0
stored_xhat = []
periods = 0
percent_change_list = []
variance = 0

In [7]:
# create a reader object
with open(csvPath) as spy:
    reader = csv.reader(spy)
    header = next(reader)
    
    first_row = next(reader)
    periods += 1
    prev_value = int(first_row[4])
    stored_xhat += [prev_value]
    
    for row in reader:
        
        row = int(row[4])
        
        periods += 1
        #periods = periods + 1
        
        percent_change = (row - prev_value) / (row) * 100
        percent_change_list += [percent_change]
        prev_value = row
        
        stored_xhat += [row]

mean = sum(stored_xhat)/len(stored_xhat)

percent_change_mean = sum(percent_change_list)/len(percent_change_list)

diff_from_mean = []
diff_from_percent_change_mean = []

for x in stored_xhat:
    diff_from_mean = [(x - mean)**2]
    distance = sum(diff_from_mean)
    var = distance/(periods - 1)
    std = math.sqrt(var)

for z in percent_change_list:
    diff_from_percent_change_mean = [(z - percent_change_mean)**2]
    distance2 = sum(diff_from_percent_change_mean)
    var2 = distance2/(periods - 1)
    std2 = math.sqrt(var2)
    annual_std = std2 * math.sqrt(252)

print(f'number of periods: {periods}')
print(f'mean value: {round(mean)}')
print(f'variance value: {round(var,2)}')
print(f'standard deviation: {round(std,2)}')
print(f'annualized standard deviation: {round(annual_std,3)}')

number of periods: 503
mean value: 283
variance value: 3.08
standard deviation: 1.76
annualized standard deviation: 0.198