In [1]:
title = "Frankfurter"
years = 23
hourly_wage = 65.40
expert_status = True

In [2]:
print(title)
print(years)
print(hourly_wage)
print(expert_status)

Frankfurter
23
65.4
True

In [4]:
print(type(title))
print(type(years))
print(type(hourly_wage))
print(type(expert_status))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [5]:
print(hourly_wage * 40 * 52 * years)

3128736.0

In [7]:
print(title, "is a city.")

Frankfurter is a city.

In [8]:
print(title + "is a city.")

Frankfurteris a city.

In [9]:
print(title + " is a city.")

Frankfurter is a city.

In [10]:
print(hourly_wage + years)

88.4

In [11]:
print(f"{title} is a city.")

Frankfurter is a city.

In [13]:
money = 25.00
print("I have ${money} dollars.")

I have ${money} dollars.

In [30]:
money = 25.00  
print(f"I have ${money} dollars.")

I have $25.0 dollars.

In [31]:
print(type(money))

<class 'float'>

In [26]:
print(money)

None

In [27]:
number = None
null = None
print(number + null)

TypeError: unsupported operand type(s) for +: 'NoneType' and 'NoneType'

In [28]:
sentence = "University of Washington"
print(len(sentence))

24

In [29]:
print(sentence * 3)

University of WashingtonUniversity of WashingtonUniversity of Washington

In [33]:
building = 'house'
print(building + str(5))

house5

In [34]:
number = 5
print(str(number))
print(type(number))

5
<class 'int'>

In [35]:
print("New" + "York")

NewYork

In [36]:
print("New " + "York")

New York

In [37]:
place = "New York"
visit = "I went to "
print(visit + place)

I went to New York

In [38]:
visit = "I went to {}"
print(visit.format(place))

I went to New York

In [41]:
beatles = "{}, {}, {}, and {}"
print(beatles.format('john', 'paul', 'ringo', 'other guy'))

john, paul, ringo, and other guy

In [45]:
location = "University of Washington"
print(location [0])
print(location [0 : 2])
print(location [4 : ] )

U
Un
ersity of Washington

In [4]:
text = "1\t2\n3"
print(text)

1	2
3

In [6]:
text = "I \t am a great coder."
print(text)

I 	 am a great coder.

In [7]:
quote = "The woman said "Hello""   #you cannot have quotes within quotes. "The woman said " Hello "" Hello is not in the string. 
print(quote)

SyntaxError: invalid syntax (<ipython-input-7-b76cb5b1123b>, line 1)

In [8]:
quote = "The woman said \"Hello\""      # \"   \" is used to have quotes within quotes without ending the string. 
print(quote)

The woman said "Hello"

In [9]:
quote = "The woman said 'Hello'"   # python defines string block based on single ' '  and double " " - putting hello in single '' didn't break it.
print(quote)

The woman said 'Hello'

In [10]:
# you want to have a backslash \ in your string put 2 \\

text = "I have a backslash \\ it is not escaping the string."
print(text)

I have a backslash \ it is not escaping the string.

In [11]:
# height. code fails because the middle " breaks the string
# I am 6'2"  tall is outside the string,  and then thinks a

height = "I am 6'2" tall"  
print(height)

SyntaxError: invalid syntax (<ipython-input-11-97bdb7775081>, line 3)

In [12]:
# fixed height

height = "I am 6'2\" inches tall."
print(height)

I am 6'2" inches tall.

In [14]:
text = "University of Washington"
for letter in text:
    print(letter, end= ' ')    # the =end ' ' at the end of a print statement has all output on same line. useful for for-loops.

U n i v e r s i t y   o f   W a s h i n g t o n