## Instructor Demo: Data Cleaning
This program goes reads in a CSV file, and perfoms a number of data quality checks. Data values that fail the checks are then cleansed.

In [23]:
# Initial imports
import pandas as pd
from pathlib import Path

### Read in CSV and take a sample

In [24]:
# Take sample of data
csv_path = Path("../Resources/order_data.csv")             # 
csv_data = pd.read_csv(csv_path, index_col="order_no")     # takes a column and applies it as an index to the dataframe. 
csv_data.sample(5)                                         # picks 5 random rows. every time it runs it gives a different set. 
                                                           # Pandas imports nulls as NAN - not a number.

           customer_no order_total  order_date
order_no
4465241327     AK45765    $1103.36  04-25-2019
45235825        TV4663       65.42  04-29-2019
413853121     CM458565         NaN   4/24/2019
452519232          NaN     $141.25  01-10-2019
4465241327     AK45765    $1103.36  04-25-2019

### Identify DataFrame Data Types

In [25]:
# Retrieve DataFrame data types
csv_data.dtypes

customer_no    object
order_total    object
order_date     object
dtype: object

### Assess data quality by identifying the number of rows

In [26]:
# Identify Series count
csv_data.count()                    # does a count by column

customer_no    7
order_total    7
order_date     8
dtype: int64

### Assess data quality by identifying the number of times a value occurs

In [27]:
# Identify frequency values
csv_data["customer_no"].value_counts()                # used to find duplicates. how many times a unique value occurs in the dataframe.

AK45765     2
CM458565    2
TV4663      1
CJ458565    1
2124        1
Name: customer_no, dtype: int64

### Assess data quality by checking for nulls

In [30]:
# Check for null values
csv_data.isnull()                          # go through and tell you if column is null or not.
                                           # 3 columns, 8 rows. 
# csv_data.shape

            customer_no  order_total  order_date
order_no
452517125         False        False       False
45251825          False        False       False
4465241327        False        False       False
4465241327        False        False       False
413853121         False         True       False
45235825          False        False       False
2356363           False        False       False
452519232          True        False       False

### Assess data quality by determining the percentage of nulls

In [31]:
# Determine percentage of nulls
csv_data.isnull().mean() * 100                     # .mean gives average. False = 0, True = 1.  
                                                   # null is empty. 0 is not null

customer_no    12.5
order_total    12.5
order_date      0.0
dtype: float64

### Assess data quality by determining the number of nulls

In [32]:
# Determine number of nulls
csv_data.isnull().sum()                            #

customer_no    1
order_total    1
order_date     0
dtype: int64

### Cleanse data by filling nulls with default value (i.e. "Unknown", 0, or mean() is common)

In [33]:
# Cleanse nulls from DataFrame by filling na
csv_data["customer_no"] = csv_data["customer_no"].fillna("Unknown")     # fillna replaces nulls with value you pass in as argument.
csv_data                                                                # pass into customer no column, any nulls will be replaced with "unknown"

           customer_no order_total  order_date
order_no
452517125     CM458565     $141.25  01-10-2019
45251825      CJ458565       14.00  04/25/2019
4465241327     AK45765    $1103.36  04-25-2019
4465241327     AK45765    $1103.36  04-25-2019
413853121     CM458565         NaN   4/24/2019
45235825        TV4663       65.42  04-29-2019
2356363           2124   258936.12  04-29-2019
452519232      Unknown     $141.25  01-10-2019

### Cleanse data by dropping nulls

In [35]:
# Cleaning nulls from DataFrame by dropping
csv_data = csv_data.dropna().copy()                                  # dropna drops the nulls. the .copy() is copying the dataframe
csv_data                                                             # running the .dropna() will permanently alter the dataframe. this is why we have .copy()

           customer_no order_total  order_date
order_no
452517125     CM458565     $141.25  01-10-2019
45251825      CJ458565       14.00  04/25/2019
4465241327     AK45765    $1103.36  04-25-2019
4465241327     AK45765    $1103.36  04-25-2019
45235825        TV4663       65.42  04-29-2019
2356363           2124   258936.12  04-29-2019
452519232      Unknown     $141.25  01-10-2019

In [36]:
csv_data.shape

(7, 3)

In [37]:
csv_data.isnull().sum()

customer_no    0
order_total    0
order_date     0
dtype: int64

In [38]:
# Cleaning nulls from DataFrame by dropping
csv_data = csv_data.dropna().copy()                                  # dropna drops the nulls. the .copy() is copying the dataframe
csv_data.shape                                                       # .shape() displays the rows x column dimensions of the dataframe.

(7, 3)

In [ ]:
# if you use this method, it preserves original dataframe. 
# .copy() copies the original dataframe, and does not apply changes to the original.

csv_data.dropna().copy()
csv.shape()

In [ ]:
# inplace paramter

csv_data.dropna(inplace = True)  # inplace = True, makes sure any function you're running applied to existing object. 
csv_data

### Checking number of nulls again

In [11]:
csv_data.isnull().sum()     # sum the isnull column. 0 means there's no nulls.

customer_no    0
order_total    0
order_date     0
dtype: int64

### Assess data quality by checking for duplicate rows

In [39]:
# Check duplicates
csv_data.duplicated()

order_no
452517125     False
45251825      False
4465241327    False
4465241327     True
45235825      False
2356363       False
452519232     False
dtype: bool

### Assess data quality by checking for duplicate customer_no values

In [40]:
# Check duplicates for specific field
csv_data["customer_no"].duplicated()               # here we are checking for duplicate customer numbers. 
                                                   # dataframe[column name].duplicated() syntax

order_no
452517125     False
45251825      False
4465241327    False
4465241327     True
45235825      False
2356363       False
452519232     False
Name: customer_no, dtype: bool

In [49]:
# Check for any duplicates on the dataframe

csv_data.duplicated(inplace = True)

AttributeError: 'NoneType' object has no attribute 'duplicated'

### Cleanse data by dropping duplicates

In [47]:
# Clean duplicates. Code might fail for some reason for 'None-Type not accepted'

csv_data = csv_data.drop_duplicates(inplace = True).copy()

AttributeError: 'NoneType' object has no attribute 'drop_duplicates'

In [44]:
csv_data.dtypes()

AttributeError: 'NoneType' object has no attribute 'dtypes'

### Assess data quality by using `head` function to sample data and identify currency symbols

In [19]:
# Identify if numeric field with $ symbol
csv_data.head()

AttributeError: 'NoneType' object has no attribute 'head'

### Cleanse data by replacing currency symbols

In [16]:
# Clean identified numeric fields with $ symbol
csv_data["order_total"] = csv_data["order_total"].str.replace("$", "")     # replaces $ with nothing.
csv_data["order_total"]

order_no
452517125        141.25
45251825          14.00
4465241327      1103.36
45235825          65.42
2356363       258936.12
452519232        141.25
Name: order_total, dtype: object

In [17]:
# Retrieve data types to confirm what needs to be converted
csv_data.dtypes     # displays 'object' type which is red flag.

customer_no    object
order_total    object
order_date     object
dtype: object

In [18]:
# Convert `order_total` from `object` to `float`
csv_data["order_total"] = csv_data["order_total"].astype("float")

In [20]:
# Confirm conversion worked as expected
csv_data.dtypes
csv_data.describe

AttributeError: 'NoneType' object has no attribute 'dtypes'